In [15]:
import pandas as pd
import os

In [16]:
mes_referencia="07"
ano_referencia="22"

In [17]:
def suma_mes(mes):
    mes_cadena=str(int(mes)+1)
    if len(mes_cadena)==1:
        mes_cadena="0"+ mes_cadena
    return mes_cadena

In [18]:
tramas=[]
for (root,dirs,files) in os.walk('TRAMAS'):
    for name in files:
        if name[0:1]=="M":
            dia=name[12:14]
            mes=name[15:17]
            ano=name[20:22]
            if (mes_referencia==mes and ano_referencia == ano) or (dia=="01" and suma_mes(mes_referencia)==mes):
                tramas.append(root + "\\"+ os.path.join(name))

In [19]:
# pandas concat csv files
df = pd.concat((pd.read_csv(f, sep=";", encoding="latin-1", header=None, skiprows=1) for f in tramas), ignore_index=False)
df.columns =  ["Tipo", "Estacion", "Fecha", "Hora_inicio", "Mezcla", "Premezcla", "Batch", "Receta", "Kg_corcho", "Minutos_pesada", "Kg_DU", "Tiempo_vaciado", "Tiempo_inyeccion_agua", "Kg_Agua", "Tiempo_mezcla_agua", "Tiempo_inyeccion_cola", "Kg_cola", "Tiempo_mezcla_cola", "Tiempo_vaciado_mezcla", "Molde_inicial_ext1", "Molde_final_ext1", "Receta", "Molde_inicial_ext2", "Molde_final_ext2", "Tapones_buenos_g1", "Tapones_malos_g1", "Tiempo_extraccion_g1", "Tapones_buenos_g2", "Tapones_malos_g2", "Tiempo_extraccion_g2", "Tapones_buenos_descartados_g1", "Tapones_buenos_descartados_g2", "nada_1", "nada_2"]

In [20]:
df.drop(columns=["Tipo", "Hora_inicio", "Premezcla", "Batch", "Receta", "Minutos_pesada", "Tiempo_vaciado", "Tiempo_inyeccion_agua", "Kg_Agua", "Tiempo_mezcla_agua", "Tiempo_inyeccion_cola", "Tiempo_mezcla_cola", "Tiempo_vaciado_mezcla", "Molde_inicial_ext1", "Molde_final_ext1", "Receta", "Molde_inicial_ext2", "Molde_final_ext2", "Tiempo_extraccion_g1", "Tiempo_extraccion_g2","nada_1", "nada_2"], inplace=True)

In [21]:
df=df.loc[:, ["Fecha", "Estacion", "Mezcla", "Kg_corcho", "Kg_cola", "Kg_DU", "Tapones_buenos_g1", "Tapones_buenos_g2", "Tapones_malos_g1", "Tapones_malos_g2", "Tapones_buenos_descartados_g1", "Tapones_buenos_descartados_g2"]].sort_values(by=["Fecha", "Estacion", "Mezcla"])

In [22]:
df.reset_index(level=0, inplace=True)

In [23]:
df

,index,Fecha,Estacion,Mezcla,Kg_corcho,Kg_cola,Kg_DU,Tapones_buenos_g1,Tapones_buenos_g2,Tapones_malos_g1,Tapones_malos_g2,Tapones_buenos_descartados_g1,Tapones_buenos_descartados_g2
0,4,1/7/22,1,1,70815,22690,4604,6072,6204,65492,44,0,0
1,5,1/7/22,1,1,70815,22690,4604,6072,6204,65492,44,0,0
2,6,1/7/22,1,2,70388,22527,4576,5984,6028,0,0,42,0
3,7,1/7/22,1,3,71092,22771,4764,5896,5940,0,0,0,0
4,8,1/7/22,1,3,71092,22771,4764,5896,5940,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15490,3,9/7/22,15,54,69023,19332,4142,5852,5896,44,44,20,0
15491,4,9/7/22,15,54,69023,19332,4142,5852,5896,44,44,20,0
15492,5,9/7/22,15,55,68783,19261,4265,5764,5852,65492,0,39,0
15493,6,9/7/22,15,56,68854,19281,4269,6776,6996,0,0,1,0
15494,7,9/7/22,15,56,68854,19281,4269,6776,6996,0,0,1,0